facebook/
facebook_json/
facebook_html/
facebook_old/
graphs/

.ipynb_checkpoints/
.vscode/

.DS_Store

*.pkl
__pycache__/userinfo.cpython-36.pyc

graphs/total_sent_received.png
graphs/num_people_talked_per_day.png
graphs/cumulative_messaging_by_day.png
graphs/cumulative_messaging_by_day.png
graphs/num_people_talked_per_day.png
graphs/total_sent_received.png

chatbot.txt